.card__title {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0 1em;
  background-color: rgba(255, 128, 128, 0.1);
}


.cart__order_button, .cart__clear_button {
    margin: 0 2em;
    padding: .5em 2em;
    border: 1px solid rgba(255, 255, 0, 0.4);
}