.card__title {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0 1em;
  background-color: rgba(255, 128, 128, 0.1);
}

.card__record {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 60%;
  min-width: 35em;
  margin: 1em auto;
}

.card__images {
  width: 3em;
}
.card__image {
  width: 100%;
}
.card__attributes {
  display: flex;
  align-items: center;
}

.card__text {
  padding: 0 1em;
}

.card__buttons {
  display: flex;
  align-items: center;
}

.cart__order_button, .cart__clear_button {
    margin: 0 2em;
    padding: .5em 2em;
    border: 1px solid rgba(255, 255, 0, 0.4);
}