.module-field {
    text-align: left;
    margin: 2px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .module-field__title {
    display: inline-block;
    text-align: left;
    font-weight: 300;
    padding: 0 5px;
    color: rgba(0, 0, 0, 1);
    /* background-color: rgba(128, 255, 128, 0.08); */
    min-width: 4em;
  }

  