#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

ul {
  list-style-type: none;
}

.modules-menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  min-width: 530px;
}

.modules-menu li {
  margin: 0 5px;
}

.modules-menu__login {
  flex-grow: 1;
  text-align: right;
}

.modules-menu__exit {
  border: none;
  padding: 0 3px;
  margin-left: 6px;
  background-color: transparent;
  color: rgba(255, 128, 128, 0.8);
}

.modules-menu a.active {
  text-decoration: underline;
  min-width: 530px;
}

.module-list__element-title {
  text-align: left;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  min-width: 530px;
}

.module-list__element-title a {
  font-size: 1.2em;
  color: rgba(255, 128, 128, 0.8);
}

.module-list__record {
  display: flex;
  justify-content: space-around;  
  min-width: 530px;
}

.module-list__images {
  width: 10em;
}

.module-list__images img {
  width: 150px;
}

.module-list__element-attibutes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
}

.module-list__buttons {
  width: 100%;
  max-width: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.module-list__button {
  font-size: 0.8em;
}

.module-field {
  text-align: left;
  margin: 2px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.module-field__title {
  text-align: left;
  font-weight: 100;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.7);
}

.detailview {
  padding-left: 40px;
}

.detailview .module-field {
  display: flex;
}

.detailview__images img {
  width: 15em;
}

.module-field__field-value {
  display: inline-block;
  min-height: 24px;
  padding: 0 3px;
  min-width: 4em;
  background-color: rgba(128, 255, 128, 0.11);
}

.module-list .module-field__field-value {
  padding: 0 1em;
}

.detailview__title {
  padding-left: 40px;
  display: flex;
}

.detailview__module_title,
.detailview .module-field__title {
  text-align: right;
  flex-grow: 1;
  flex-basis: 1em;
}

.detailview .module-field__field-value,
.detailview__record_name {
  text-align: left;
  flex-grow: 1;
  flex-basis: 1em;
}

.detailview__record_name {
  padding-left: 1em;
  color: rgba(255, 128, 128, 0.8);
}

.login-form input {
  font-size: 1.2em;
}

.login-form button {
  margin: 0 5px;
}
